body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./main-background.jpg') center center no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.8;
}


.body-container {
  opacity: 1;
  margin: 20px 0;
  display: flex;
  background-color: white;
  border: 1px solid;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 5px 10px 8px #888888;
}

.heading-section h1{
  font-family: "Lobster", serif;
  padding: 20px;
}

.input-boxes {
  width: 300px;
  padding: 5px;
}

.input-form {
  width: 50%;
}

.submit {
  padding: 5px;
}

.api-request-section {
  width: 600px;
  padding: 20px;
}



.returned-response {
  margin: 10px 0;
}
